:root {
  --danger: #f15c6d;
  --shadow-rgb: 11,20,26;
  --black-rgb: 11,20,26;
  --white-rgb: 255,255,255;
  --backgroud-defualt: #fff;
  --system-message-background: #182229;
  --shadow-rgb: 11,20,26;
  --system-message-text: #8696a0;
  --icon-ack: #53bdeb;
  --bubble-meta-icon: hsla(0,0%,100%,0.5);
  --color-background: rgb(33,33,33);
  --color-text-secondary: rgb(170,170,170);
  --color-placeholders: #a2acb4;
  --color-text: rgb(255,255,255);
  --color-primary: #599f5c;
  --dark-primary-color: #3f8c43;
  --color-primary-shade: #5a9959;
  --danger-color: #ff595a;
  --border-radius-default: 0.75rem;
  --color-borders-input: rgb(91,91,90);
  --z-menu-bubble: 21;
  --color-default-shadow: rgba(16,16,16,0.611765);
  --color-background-compact-menu: rgba(33,33,33,0.866667);
  --color-background-compact-menu-reactions: rgba(33,33,33,0.866667);
  --color-background-compact-menu-hover: rgba(0,0,0,0.4);
  --z-below: -1;
  --surface-color: #212121;
}
/* CSS styles for the chat list */
.chat-list {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  box-shadow: 0 6px 18px rgba(var(--shadow-rgb),.05);
  background-color: #3a4348;
}

button{
  cursor: pointer;
}

.chats {
  max-width: 30%;
  flex: 0 0 30%;
  background-color: #202c33;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3d4346;
  position: relative;
}

.chat {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chat:hover {
  background-color: #3e4b52;
}
.chat.selected {
  background-color: #599f5c;
  color: white;
}
.chat h3,.chat p {
  color: white;
}
.chat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px;
}
.chat-info {
  flex: 1;
  padding-right: 15px;
  border-top: 1px solid rgb(134 150 160 / 15%);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.info-right{
  padding-right: 15px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat h3 {
  margin: 0;
  font-size: 16px;
}
.chat p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #e9e9e9;
}

.unread-indicator {
  text-align: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ad5d5d;
  margin-left: auto;
  color: white;
  padding: 2px;
  font-size: 10px;
}

.profile-pic{
  cursor: pointer;
}

.profile-pic img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 5px;
}

.chat-left-header{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e272c;
}
.chat-own-options{
  position: relative;
}

.chat-own-options .options-button{
  margin-left: 10px;
  padding: 8px;
}

.chat-own-options .options-dropdown{
  left:-65px;
}

.conv-list{
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

/* ::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb),.16);
} */

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--black-rgb),.2);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.profile-details-sec::-webkit-scrollbar-track {
  background-color: var(--background-default);
}

.conv-list::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.conv-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202c33;
}

.conv-list::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.conv-list::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
}

.conv-list::-webkit-scrollbar-button {
  display: none;
}

.profileDetails{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  z-index: 200;
  background-color: #111b21;
  animation: leftCome 0.2s ease-in-out forwards;
  transform-origin: left;
}

@keyframes leftCome {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.closeProfileDrawer{
  animation: leftGo 0.2s ease-in-out forwards;
}

@keyframes leftGo {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 0;
    transform: translateX(-20%);
  }
}

.profileHeader{
  padding-right: 20px;
  padding-left: 23px;
  background-color: #202c33;
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: flex-end;
  height: 108px;
  color: #d9dee0;
}


/* CSS styles for the chat screen */
.chat-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
}

.chat-header {
    background-color: #1e272c; /* Light green */
    border-bottom: 1px solid #3e464a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    background-color: #3a4348;
}

.chat-messages::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.chat-messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202c33;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.chat-messages::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
}

.chat-messages::-webkit-scrollbar-button {
  display: none;
}

.message-bubble {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    padding: 6px 7px 8px 9px;
    position: relative;
    margin: 8px 0;
}

.message-bubble.me {
  align-self: flex-end;
  background-color: #5a9959;
  color: #fff;
  animation: slideUp 0.3s ease-in-out forwards;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  transform-origin: bottom;
  opacity: 0;
}

.message-bubble.you {
  align-self: flex-start;
  background-color: #fff;
  color: #333;
  animation: slideUp 0.3s ease-in-out forwards;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  transform-origin: bottom;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: scale(0.01);
    /* transform: translateY(100px); */
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
    transform:scale(1);
  }
}

.message-bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}

.message-bubble.me:before {
  border-top-color: #5a9959;
  top: 0px;
  right: -10px;
}

.message-bubble.you:before {
  border-top-color: #fff;
  top: 0px;
  left: -10px;
}

.list-item{
  display: flex;
  flex-direction: column;
}

.flex-start{
  align-items: flex-start;
}

.flex-end{
  align-items: flex-end;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-direction-row{
  flex-direction: row;
}

.flex-direction-column{
  flex-direction: column;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.me {
  background-color: #e6e6e6;
}

.you {
  background-color: #fff;
}

.chat-input {
  border-top: 1px solid #3e464a;
  padding: 10px;
  background-color: #202c33;
}

input{
  background-color: #3a4348;
  color: #fff;
}

.chat-input form {
    display: flex;
}

.chat-input input {
    flex: 1;
    border: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.chat-input button {
    border: 0;
    background-color: #495156;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 1px 10px;
    cursor: pointer;
}

.chat-header-image {
    height: 50px;
    width: 50px;
}

.chat-header-left{
    align-items: center;
    display: flex;
}
.chat-header-name {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.chat-header-status {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-left: 15px;
  }
  
  .online-status {
    color: #0084ff;
    font-size: 14px;
  }
  
  .online {
    font-weight: bold;
  }
  
  .last-seen {
    color: #999;
    font-size: 14px;
  }

.rounded {
    border-radius: 50%;
}

.options-button {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 0;
}

.chat-header-options{
  position: relative;
  margin-left: 20px;
}
.chat-header-options button{
  padding: 8px 24px;
}

.options-dropdown {
  background-color: #233138;
  border: 1px solid #202c33;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: -210px;
  position: absolute;
  top: 100%;
  z-index: 1;
  transform: scale(0.01);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  transform-origin: right top;
  max-width: 340px;
  padding: 9px 0;
}

.options-dropdown.open{
  transform-origin: right top;
  /* right :41px;
  top:33px; */
  transform:scale(1);
  opacity:1;
}

.options-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options-dropdown ul li{
  color: #fff;
  padding-right: 58px;
  padding-left: 24px;
}

.show{
  opacity: 1 !important;
}

.options-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
}

.options-dropdown li:hover {
  background-color: #182229;
}

.send-button.hide{
  transform: scale(0.01);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  transform-origin: center;
}

.send-button.show{
  transform-origin: center;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  transform:scale(1);
  opacity:1;
}

/* css styles for the empty screen */
.empty-chatscreen{
  transform-origin: left top;
  transform: translateZ(0);
  flex-grow: 1;
  position: relative;
  z-index: 100;
  height: 100%;
  overflow: hidden;
  background-color: #222e35;
}

.center-contents{
  border-left: 1px solid #8696a026;
  padding-top: 28px;
  padding-bottom: 28px;
  cursor: default;
  background-color: #222e35;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

@keyframes loadscreen {
  0% {
    opacity: 0;
    transform: scale(0.01);
    /* transform: translateY(100px); */
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
    transform:scale(1);
  }
}

.center-contents img{
  width: 30%;
  max-width: 560px;
  margin-top: -20px;
  text-align: center;
  transform: scale(1);
  opacity: 0;
  transform-origin: center;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  animation: loadscreen 0.3s ease-in-out forwards;
}

.center-contents:after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  content: "";
  border-top: 6px solid #5a9959;
}

.title-head{
  color: #fff;
  text-align: center;
}


.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.profheaderflex{
  height: 59px;
  width: 100%;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
  animation: loadprofileheader 0.3s ease-in-out forwards;
}

@keyframes loadprofileheader {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
    transform:translateX(0px);
  }
}

.backButton{
  width: 53px;
}

.btn{
  background-color: transparent;
  color: #d9dee0;
  border: 0;
}
.btn i{
  font-size: 20px;
}

.profile-details-sec{
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
}

.profile-photo-sec{
  flex-grow: 0;
  display: flex;
  justify-content: center;
  transform-origin: center center;
  flex-shrink: 0;
  flex-basis: auto;
  animation-timing-function: cubic-bezier(0.1,0.82,0.25,1);
  margin-top: 28px;
  margin-bottom: 28px;
  animation-duration: .75s;
  animation-name: he6jpvhu-B;
}

@keyframes he6jpvhu-B{0%{transform:scale(0,0);}20%{transform:scale(0,0);}100%{transform:scale (1,1);}}

.photo-picker-container{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.profile-photo{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
}
.profile-photo img{
  height: 100%;
  width: 100%;
  visibility: visible;
}

.picker-round-shape{
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  isolation: isolate;
}
/* --photopicker-overlay-background: rgba(30,42,49,0.8);
    --photopicker-overlay-background-rgb: 30,42,49; */
.profile-overlay{
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: 0;
  display: flex;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255,.8);
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  background-color: rgba(30,42,49,0.8);
  box-sizing: border-box;
  justify-content: center;
  height: 100%;
  width: 100%;
  animation: centerCome 0.2s ease-in-out forwards;
  transform-origin: center;
  opacity: 0;
}

@keyframes centerCome {
  0% {
    opacity: 0;
    transform: scale(0.01);
    /* transform: translateY(100px); */
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
    transform:scale(1);
  }
}

.camera-icon i{
  font-size: 24px;
}

.profile-overlay .overlay-title{
  text-align: center;
  margin-top: 10px;
  overflow-wrap: break-word;
  width: 100px;
}

.profile-username-sec{
  padding-left: 30px;
  padding-right: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  animation-duration: 1s;
  background-color: #111b21;
  flex-basis: auto;
  box-shadow: 0 2px 4px rgba(11,20,26,.16);
  animation-name: bx6fce78-B;
  padding-top: 14px;
  position: relative;
  animation-timing-function: cubic-bezier(.1,.82,.25,1);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
@keyframes bx6fce78-B{0%{opacity:0;transform:translateY(-50px);}30%{opacity:0;transform:translateY(-50px);}100%{opacity:1;transform:translateY(0);}}

.btn{
  background-color: transparent;
  color: #d9dee0;
  border: 0;
}

.profile-edit-btn{
  font-size: 20px;
  color: #8696a0;
}

.profile-lable{
  padding: 0;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  flex: 1 1 auto;
}

.profile-lable span{
  font-size: 14px;
  line-height: normal;
  color: #008069;
  font-weight: 400;
}

.userName{
  position: relative;
  word-wrap: break-word;
  border-bottom: 2px solid transparent;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.userName.edit{
  border-bottom: 2px solid #8696a0;
}

.userName .contenteditable{
  width: 80%;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  margin: 8px 0;
  padding: 0;
  min-width: 5px;
  position: relative;
  width: 100%;
  min-height: 20px;
  font-size: 17px;
  line-height: 20px;
  color: var(--primary);
  word-wrap: break-word;
  white-space: pre-wrap;
  user-select: text;
  color: #d1d7db;
}

.profile-username-info{
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 4px;
  margin-bottom: 28px;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1,0.82,0.25,1);
  animation-name: bx6fce78-B;
}
@keyframes bx6fce78-B{0%{opacity:0;transform:translateY(-50px);}30%{opacity:0;transform:translateY(-50px);}100%{opacity:1;transform:translateY(0);}}

.profile-username-info span{
  font-size: 14px;
  color: #8696a0;
  line-height: 20px;
  font-weight: 400;
}

.chat-header-top-left{
  flex-grow: 1;
  cursor: pointer;
}
.chat-header-top-left{
  flex-grow: 1;
  cursor: pointer;
}

/* .openUserProfile{
  animation: rightCome 0.2s ease-in-out forwards;
  transform-origin: left;
} */

@keyframes rightCome {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.drawer-right{
  border-left: 1px solid #3d4346;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: right;
}

.drawer-right.open {
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

/* .closeRightDrawer{
  animation: rightGo 0.2s ease-in-out forwards;
}

@keyframes rightGo {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  1% {
    opacity: 0.5 ease;
  }
  100% {
    opacity: 0;
    transform: translateX(20%);
  }
} */

.three .drawer-right{
  overflow-x: hidden;
  flex: 0 0 30%;
  max-width: 30%;
}
.userProfileHeader{
  padding-right: 20px;
  padding-left: 25px;
  background-color: #202c33;
  box-sizing: border-box;
  display: flex;
  flex: none;
  align-items: center;
  height: 70px;
  color: #d1d7db;
}
.closeButtonContainer{
  width: 54px;
}
.photo-picker-container{
  margin-bottom: 15px;
}
.openUserProfile {
  height: 100%;
  background-color:#0c1317;
  pointer-events: auto;
  top: 0;
}
.openUserProfile .profile-details-sec{
  background-color:#0c1317;
  padding-bottom: 32px;
}
.openUserProfile .profile-photo-sec{
  flex-direction: column;
  margin-top: 0;
  padding-top: 28px;
  padding-bottom: 19px;
}
.userName, .contactInfo{
  color: #fff;
  text-align: center;
}
.userName h2{
  width: 100%;
  margin: 0;
  font-weight: 400;
}
.contactInfo{
  margin-top: 4px;
  color: #8696a0;
}

.media-lable{
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  flex: 1 1 auto;
}

.media-lable span{
  font-size: 14px;
  line-height: normal;
  color: #8696a0;
  font-weight: 400;
}

.pl-30{
  padding-left: 30px;
}

.pr-30{
  padding-right: 30px;
}

.pt-17{
  padding-top: 17px;
}

.pb-10{
  padding-bottom: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.boxshadow{
  box-shadow: 0 2px 4px rgba(11,20,26,.16);
}

.position-relative{
  position: relative;
}

.visibility-hidden{
  visibility: hidden;
}

.animate-box{
  animation-name: bx6fce78-B;
  animation-timing-function: cubic-bezier(.1,.82,.25,1);
  animation-duration: 1s;
}

@keyframes bx6fce78-B{0%{opacity:0;transform:translateY(-50px);}30%{opacity:0;transform:translateY(-50px);}100%{opacity:1;transform:translateY(0);}}

.media-counts-with-arrow{
  margin-left: 10px;
  flex-direction: row;
  justify-content: flex-start;
}

.media-count{
  font-size: 0.9375rem;
  margin-right: 8px;
}

.primary-white-text{
  color: #8696a0;
}

.primary-strong{
  color : #e9edef;
}

[role=button] {
  cursor: pointer;
}

.section-bg{
  background-color: #111b21;
}

.media-gallery{
  margin-right: 6px;
  padding-top: 6px;
}

.gallery-box{
  border-radius: 8px;
  margin-right: 8px;
  overflow: hidden;
  background-color: #2a3942;
  margin-bottom: 6px;
  width: 29%;
}

.position-absolute{
  position: absolute;
}

.inner-container{
  left: 0;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

.height-100{
  height: 100%;
}

.width-100{
  width: 100%;
}

.media-state-download{
  color:#e9edef;
  left: 0;
  top: 0;
  z-index: 100;
}

.border-radius-50{
  border-radius: 50%;
}

.download-media-btn{
  height: 50px;
  width: 50px;
  cursor: pointer;
  color:#e9edef;
  background-color: rgba(11,20,26,.35);
  border: 0;
}

.download-media-btn .fas{
  font-size: 23px;
  font-weight: bold;
}

.padding-top-90{
  padding-top: 90.9091%;
}

.section-media{
  margin-bottom: 8px;
}

.overlay-gradiant{
  overflow: hidden;
  box-sizing: border-box;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0) 70%,rgba(0,0,0,.6) 100%);
  pointer-events: none;
  transition: border-width 0.08s cubic-bezier(.09,.87,.72,1);
}

.other-option{
  padding-top: 0;
}

.overflow-hidden{
  overflow: hidden;
}

.block-starred-message{
  padding-left: 0;
  cursor: pointer;
}

.block-starred-message .container{
  padding-bottom: 19px;
  margin-top: -4px;
  padding-top: 19px;
}

.flex-grow{
  flex-grow: 1;
}

.flex-grow-0{
  flex-grow: 0;
}

.white-space-normal{
  white-space: normal;
}

.white-space-nowrap{
  white-space: nowrap;
}

.flex-shrink{
  flex-shrink: 1;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.flex-basis-auto{
  flex-basis: auto;
}

.text-ellipsis{
  text-overflow: ellipsis;
}

.icon-star-message{
  margin-right: 8px;
  width: 40px;
  height: 24px;
}

.block-starred-message .lable{
  overflow-wrap: break-word;
  line-height: 22px;
  font-size: 17px;
}

.container-with-seperator .seperator-div{
  height: 60px;
  margin-top: -4px;
}

.saperator-text{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.block-container{
  padding-left: 13px;
  height: 54px;
}

.color-danger{
  color: var(--danger);
}

.block-user-section .btn-container{
  width: 74px;
  flex: none;
}

.font-size-19{
  font-size: 19px;
}

.font-size-20{
  font-size: 20px;
}

.time-seperator{
  padding-right: 9%;
  padding-left: 9%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  user-select: text;
}

.chat-date{
  text-shadow: none;
  margin-bottom: 0;
  padding: 5px 12px 6px;
  text-align: center;
  background-color: var(--system-message-background);
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(var(--shadow-rgb),.13);
  box-sizing: border-box;
  display: inline-block;
  flex: none;
  max-width: 100%!important;
  font-size: 12.5px;
  line-height: 21px;
  color: var(--system-message-text);
  position: relative;
}

.chat-time-noshow{
  padding: 0 4px;
  vertical-align: middle;
  font-size: 0.6875rem;
  display: inline-flex;
  height: 0;
}

.msg-read-check{
  margin-left: 3px;
  display: inline-block;
  color: var(--bubble-meta-icon);
}

.msg-read-check.read{
  color: var(--icon-ack);
}

.width-19{
  width: 19px;
}

.display-inline-flex{
  display: inline-flex;
}

.message-meta{
  float: right;
  margin: -10px 0 -5px 4px;
}

.message-meta .msg-time{
  font-size: 0.6875rem;
}

.msg-read{
  color: #333a2d;
}


/* Login Page css */
.theme-white{
  color:rgb(var(--white-rgb)) ;
}
.full-height{
  background: var(--color-background);
  height: 100vh;
}

.Transition{
  position: relative;
  width: 100%;
}
.Transition>.Transition__slide {
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards !important;
}

#auth-registration-form, #auth-phone-number-form, #auth-code-form, #auth-password-form, #auth-qr-form {
  height: 100%;
  overflow-y: auto;
}

#auth-registration-form, #auth-phone-number-form, #auth-code-form, #auth-password-form, #auth-qr-form {
    height: 100%;
    overflow-y: auto;
}
.custom-scroll, .custom-scroll-x {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
    transition: scrollbar-color .3s ease;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
}

.auth-form {
  width: 100%;
  max-width: 25.5rem;
  margin: 0 auto;
  padding: 6rem 1rem 1rem;
  text-align: center;
}

.auth-form #logo {
  background: url(./images/logo192.png) center no-repeat;
  background-size: 100%;
}

.auth-form #logo, .auth-form .AvatarEditable label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1.75rem;
}

.auth-form h1 {
    font-size: 1.25rem;
    line-height: 1;
    color: rgb(var(--white-rgb));
}
.auth-form .note {
  font-size: .875rem;
  line-height: 1.35;
  margin-bottom: 2.5rem;
  color: var(--color-text-secondary);
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

#auth-phone-number-form form {
  min-height: 26.25rem;
}

#auth-phone-number-form .Button {
  margin-top: 2.75rem;
}

.DropdownMenu {
  position: relative;
}

.CountryCodeInput .input-group {
  cursor: pointer;
  z-index: 10;
}

.no-selection {
  user-select: none;
}

.Menu.compact .bubble {
  background: var(--color-background-compact-menu);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.25rem 0;
}

.Menu .bubble.left {
  left: var(--offset-x);
}

.Menu .bubble.top {
  top: var(--offset-y);
}

.opacity-transition:not(.shown) {
  display: none;
}

.opacity-transition:not(.open) {
  opacity: 0;
}

.CountryCodeInput .bubble {
  width: 100%;
  max-height: 23.5rem;
  overflow-y: auto;
  transform-origin: top center !important;
  transform: scale(0.95);
}

.CountryCodeInput .bubble.open {
  transform: scaleY(1);
  z-index: var(--z-menu-bubble);
}

.custom-scroll, .custom-scroll-x {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
  transition: scrollbar-color .3s ease;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
}

.opacity-transition {
  opacity: 1;
  transition: opacity .15s ease;
}

.Menu .bubble {
  overflow: hidden;
  display: block;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  position: absolute;
  background-color: var(--color-background);
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
  border-radius: var(--border-radius-default);
  min-width: 13.5rem;
  z-index: 0;
  overscroll-behavior: contain;
  transform: scale(0.5);
  transition: opacity .2s cubic-bezier(0.2, 0, 0.2, 1),transform .2s cubic-bezier(0.2, 0, 0.2, 1) !important;
  --offset-y: calc(100% + 0.5rem);
  --offset-x: 0;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

.form-control {
  --border-width: 1px;
  display: block;
  width: 100%;
  height: 3.375rem;
  padding: calc(0.75rem - var(--border-width)) calc(0.9rem - var(--border-width));
  border: var(--border-width) solid var(--color-borders-input);
  border-radius: var(--border-radius-default) !important;
  color: var(--color-text);
  background-color: var(--color-background);
  outline: none;
  transition: border-color .15s ease;
  word-break: break-word;
  font-size: 1rem;
  line-height: 1.25rem;
}

.form-control:focus, .form-control.focus {
  border-color: var(--color-primary);
  box-shadow: inset 0 0 0 1px var(--color-primary);
  caret-color: var(--color-primary);
  background-color: var(--color-background);
  color: var(--white-rgb);
}

.form-control:focus+label, .form-control.focus+label {
  color: var(--color-primary);
}

.form-control.error {
  border-color: var(--danger-color);
}

.form-control.error + label {
  color: var(--danger-color);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}



.input-group label {
  transition: transform .2s,padding .2s,opacity .1s,font-weight 0s .1s;
  display: block;
  padding: 0 0.25rem;
  position: absolute;
  left: 0.75rem;
  top: 0.9375rem;
  background-color: var(--color-background);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-placeholders);
 
  cursor: text;
  pointer-events: none;
  transform-origin: left center;
  white-space: nowrap;
  transform: translate(0);
  transform-origin: left center;
}

.input-group.touched label, .input-group.error label, .input-group.success label, .input-group .form-control:focus+label, .input-group .form-control.focus+label, .input-group .form-control:not(:placeholder-shown):not([value=""]) + label {
  transform: scale(0.75) translate(-0.5rem, -2.25rem);
}

.input-group>.form-control:focus, .input-group>.form-floating:focus-within, .input-group>.form-select:focus {
  z-index: 0;
}

.input-group.touched label {
  color: var(--color-text-secondary);
}

.form-control:focus+label, .form-control.focus+label {
  color: var(--color-primary);
}

a, area, button, [role=button], input:not([type=range]), label, select, summary, textarea {
  touch-action: manipulation;
}

.CountryCodeInput .input-group .css-icon-down {
  position: absolute;
  top: 1.125rem;
  right: 1rem;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid var(--color-text-secondary);
  border-top: 0;
  border-left: 0;
  transform: scaleY(1) rotate(45deg);
  transition: color .2s ease,transform .2s ease,top .2s ease;
}

.CountryCodeInput .input-group .css-icon-down.open {
  border-color: var(--color-primary);
  transform: scaleY(-1) rotate(45deg);
  top: 1.5rem;
}

.login .input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.CountryCodeInput .input-group {
  cursor: pointer;
  z-index: 10;
}

.login .Checkbox {
  display: block;
  position: relative;
  padding-left: 4.5rem;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.login .Checkbox input {
  position: absolute;
  z-index: var(--z-below);
  opacity: 0;
}

.login input[type=radio],.login input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.Checkbox input:checked~.Checkbox-main::before {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.Checkbox .Checkbox-main::before {
  border: 2px solid var(--color-borders-input);
  border-radius: 0.25rem;
  background-color: var(--color-background);
  transition: border-color .1s ease,background-color .1s ease;
}

.Checkbox .Checkbox-main::before, .Checkbox .Checkbox-main::after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: 1.1875rem;
  top: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
}

.Checkbox input:checked~.Checkbox-main::before {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.Checkbox .Checkbox-main::before {
  border: 2px solid var(--color-borders-input);
  border-radius: 0.25rem;
  background-color: var(--color-background);
  transition: border-color .1s ease,background-color .1s ease;
}

.Checkbox input:checked~.Checkbox-main::after {
  opacity: 1;
}
.Checkbox .Checkbox-main::after {
  background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjkuOEw1LjggOC45IDIuMSA1LjJjLS40LS40LTEuMS0uNC0xLjYgMC0uNC40LS40IDEuMSAwIDEuNkw1IDExLjJjLjQuNCAxLjEuNCAxLjYgMGw4LjktOC45Yy40LS40LjQtMS4xIDAtMS42LS41LS40LTEuMi0uNC0xLjYuMXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
  background-size: 0.875rem;
  opacity: 0;
  transition: opacity .1s ease;
}

.Checkbox .Checkbox-main .label {
  display: flex;
  align-items: center;
  text-align: initial;
  flex-wrap: wrap;
  column-gap: 0.25rem;
}

.login .Button {
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  border: 0;
  border-radius: var(--border-radius-default);
  background-color: rgba(0,0,0,0);
  background-size: cover;
  padding: 0.625rem;
  color: #fff;
  line-height: 1.2;
  cursor: pointer;
  text-transform: uppercase;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  transition: background-color .15s,color .15s;
  text-decoration: none !important;
  --premium-gradient: linear-gradient(88.39deg, #6C93FF -2.56%, #976FFF 51.27%, #DF69D1 107.39%);
}

.login .Button:hover{
  background: var(--dark-primary-color);
  transition: opacity .2s;
}

.Button:active, .Button.clicked, body.animation-level-0 .Button {
  transition: none !important;
}

.Button.primary {
  background-color: var(--color-primary);
  color: var(--color-text);
  --ripple-color: rgba(0, 0, 0, 0.08);
}

.Login .Button.primary:not(.disabled):not(:disabled):active,.Login .Button.primary:not(.disabled):not(:disabled).active,.Login .Button.primary:not(.disabled):not(:disabled):focus {
  background-color: var(--color-primary-shade);
}

.MenuItem.compact {
  font-size: .875rem;
  margin: 0.125rem 0.25rem;
  padding: 0.25rem;
  border-radius: 0.375rem;
  width: auto;
  font-weight: 500;
  transform: scale(1);
  transition: .15s ease-in-out transform;
}

.MenuItem.disabled {
  opacity: .5 !important;
  cursor: var(--custom-cursor, default) !important;
}

.MenuItem {
  width: 100%;
  background: none;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  position: relative;
  overflow: hidden;
  line-height: 1.5rem;
  white-space: nowrap;
  color: var(--color-text);
  --ripple-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
  unicode-bidi: plaintext;
}

.CountryCodeInput .country-flag {
    font-size: 2rem;
    margin-right: 1rem;
}

.CountryCodeInput .country-flag .emoji {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: 4px;
  margin: -0.5rem 0.125rem;
}

.CountryCodeInput .country-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
  text-align: left;
}

.CountryCodeInput .country-code {
  margin-left: auto;
  opacity: .5;
  padding-right: 0.25rem;
}

@media (min-width: 600px){
  .auth-form h1 {
    font-size: 2rem;
    line-height: 1.5;
  }
  .auth-form .note {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

.Button:disabled {
  opacity: .75;
  cursor :default;
}

/* processing submit button styles */
.sbmt-btn{
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.processing-dots{
  position: absolute;
  top: 34%;
  left: 63%;
  white-space: nowrap;
  overflow: hidden;
}
.processing-dots:after {
  transform: translate(0, -50%);
  animation: dots 1.5s infinite;
  width: 1em;
  text-align: left;
  content: "";
}

@keyframes dots{
  0%, 20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  80%, 100% {
    content: "";
  }
}
